<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="nueva_lista.css">
    <title>Listas Inteligentes | Mis listas</title>
</head>
<body>
<div id="container">
            <a href="home.html">
                Inicio
            </a>
            |
            <a href="listas.html">
                Mis listas
            </a>
            |
            <a href="recetas.html">
                Mis recetas
            </a>
            |
            <a href="gastos.html">
                Mis gastos
            </a>
</div>
<h1>
    <p>Nueva lista</p>
</h1>
<h4>
    <input type="text" id="nueva_lista_nombre" name="nueva_lista_nombre" value="Nueva Lista" maxlength="50"></h4>
    <input type="text" id="nueva_lista_texto" name="nueva_lista_texto">
</h4>

<div id="nueva_lista">
    <table>
<tr>
<th>Check</th>
<th>Producto</th>
<th>Cantidad</th>
<th>Precio</th>
</tr>
    <tr>
    <td><input id="check_producto_1" name="check_producto_1" type="checkbox" value="y"/></td>
    <td><input type="text" id="producto_1" name="producto_1" value="" maxlength="100"></td>
    <td><input type="text" id="cantidad_producto_1" name="cantidad_producto_1" value="" maxlength="20"></td>
    <td><input type="text" id="precio_producto_1" name="precio_producto_1" value="" maxlength="20"></td>

</tr>
</table>

</div>


</body>
</html>